@font-face {
  font-family: YuGo;
  src: local(YuGo-Medium),
    url(/path/to/YuGo-Medium.woff2) format("woff2"),
    url(/path/to/YuGo-Medium.woff) format("woff"),
    url(/path/to/YuGo-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: YuGo;
  src: local(YuGo-Bold),
    url(/path/to/YuGo-Bold.woff2) format("woff2"),
    url(/path/to/YuGo-Bold.woff) format("woff"),
    url(/path/to/YuGo-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-family: YuGo;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {
  font-family: YuGo;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-family: YuGo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {
  font-family: YuGo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

body {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  padding-top: 80px;
  line-height: normal;
  letter-spacing: 0.11px;
  background-color: #f7edf0 !important;
}

caption {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.alert-success {
  background-color: #cfd43f;
  color: #3939db;
  border: 1px solid #cfd43f;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

/* headerとfooterの背景色 */
.kadai_002-header-container{
  height: 80px; /* ヘッダーの高さを明示 */
    background-color: #ffffff !important; /* 背景色の適用 */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* ヘッダー下の影を追加 */
    z-index: 1030; /* Bootstrapの固定位置ヘッダーに合わせたz-index */
}

.kadai_002-footer-container {
  background-color: #ffffff !important;
}

.header-logo {
  width: 100px;
  height: 50px;
}

.footer-logo {
  width: 100px;
  height: 50px; 
}

.kadai_002-favorite-button {
  border-radius: 2px;
  border: solid 1px #0f75be;
  background-color: #ffffff;
}

.text-favorite {
  color: #0fbe9f;
}

.review-score-color {
  color: #0fbe9f;
}

.review-score-color:focus {
  color: #0fbe9f;
}

.kadai_002-delete-submit-button {
  border-radius: 2px;
  color: #ffffff;
  background-color: #d94b0e;
}